section {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

span {
    width: 150px;
}

.boton-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}